html {
 scroll-behavior: smooth;
}

body {
 min-width: 100vw;
 min-height: 100vh;

 overflow-x: hidden;

 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 color: $text-color-1;
 font-family: $main-font, $main-font-respaldo;

 background-color: $background-color-3;
}

h1 {
 margin: 0;
}
