extends ../templates/template.pug

block main
 main.main-favorites
  h1.main-favorites__title FAVORITES.PUG
  a(href="index.html").main-favorites__link Ir a home 
  a(href="search.html").main-favorites__link Ir a search 
