extends ../templates/template.pug

block main
 main.main-index
  h1.main-index__title INDEX.PUG
  a(href="search.html").main-index__link Ir a search 
  a(href="favorites.html").main-index__link Ir a favorites
