extends ../templates/template.pug

block main
 main.main-search
  h1.main-search__title SEARCH.PUG
  a(href="index.html").main-search__link Ir a home 
  a(href="favorites.html").main-search__link Ir a favorites 