.main-favorites__title {
 padding: 2rem;
 font-size: 2rem;
 text-align: center;
 color: lightsalmon;
}

.main-favorites__link {
 padding: 0 0 0.5rem;
 display: block;
 text-align: center;
 font-size: 1.5rem;
 color: lightsalmon;
}
