.main-index__title {
 padding: 2rem;
 font-size: 2rem;
 text-align: center;
 color: lightseagreen;
}

.main-index__link {
 padding: 0 0 0.5rem;
 display: block;
 text-align: center;
 font-size: 1.5rem;
 color: lightseagreen;
}
