.main-search__title {
 padding: 2rem;
 font-size: 2rem;
 text-align: center;
 color: limegreen;
}

.main-search__link {
 padding: 0 0 0.5rem;
 display: block;
 text-align: center;
 font-size: 1.5rem;
 color: limegreen;
}
