doctype
html(lang="es")
 head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="shortcut icon", href="assets/favicon/favicon.ico", type="image/x-icon")
  title WEBPACK WORK FLOW
 body
  block header
   header.header-template
    h1.header-template__title WEBPACK WORK FLOW V 1.0.0

  block main

  block footer
   footer.footer-template
    p.footer-template__title Newman Ferrer ©️ 2021

   